<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-zbarscanner"
  version="0.0.1">

    <name>ZBarScanner</name>
    <author>Rameez Raja</author>
    <description>An cordova implementation of ZBar SDK(http://zbar.sourceforge.net/)</description>
    <license>MIT</license>

    <js-module src="www/zbar-scanner.js" name="zbarScanner">
        <clobbers target="cordova.plugins.zbarScanner" />
    </js-module>

   <!-- ios -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="ZBarScanner">
              <param name="ios-package" value="ZBarScanner"/>
          </feature>
      </config-file>

      <resource-file src="src/ios/ZBarScanner.bundle" />
      <resource-file src="src/ios/ZBarSDK/Resources/zbar-back.png" />
      <resource-file src="src/ios/ZBarSDK/Resources/zbar-help.html" />
      <resource-file src="src/ios/ZBarSDK/Resources/zbar-helpicons.png" />
      <resource-file src="src/ios/ZBarSDK/Resources/zbar-samples.png" />
      <resource-file src="src/ios/cancel-scanning@2x.png" />

      <header-file src="src/ios/ZBarScanner.h" />
      <source-file src="src/ios/ZBarScanner.m" />

      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/zbar/Decoder.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/zbar/Exception.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/zbar/Image.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/zbar/ImageScanner.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/zbar/Processor.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/zbar/Scanner.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/zbar/Symbol.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/zbar/Video.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/zbar/Window.h" />

      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/zbar.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/ZBarCameraSimulator.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/ZBarCaptureReader.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/ZBarHelpController.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/ZBarImage.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/ZBarImageScanner.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/ZBarReaderController.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/ZBarReaderView.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/ZBarReaderViewController.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/ZBarSDK.h" />
      <header-file src="src/ios/ZBarSDK/Headers/ZBarSDK/ZBarSymbol.h" />

      <framework src="AVFoundation.framework" />
      <framework src="CoreMedia.framework" />
      <framework src="CoreVideo.framework" />
      <framework src="QuartzCore.framework" />
      <framework src="AudioToolbox.framework" />
      <framework src="libiconv.dylib" />

      <source-file src="src/ios/ZBarSDK/libzbar.a" framework="true" />
    </platform>
</plugin>
